<!DOCTYPE html>
<html>
<head>
  <title>Dbhero</title>
  <%= stylesheet_link_tag    "dbhero/application", media: "all" %>
  <%= javascript_include_tag "dbhero/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
