/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.editor-style {
  height: 300px;
  border-radius: 1px;
}

header .btn-group {
  margin-top: 20px;
}

header h1 {
  font-size: 22px;
  margin: 0;
  color: #455a64;
}

.style-text-field {
    /* label color */
   .input-field label {
     color: #455a64;
     font-size: 22px;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label,
   .input-field textarea:focus + label,
   {
     color: #90a4ae;
     font-size: 18px;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus,
   .input-field textarea:focus {
     border-bottom: 1px solid #455a64;
     box-shadow: 0 1px 0 0 #455a64;
   }
   /* valid color */
   .input-field input[type=text].valid,
   .input-field textarea.valid {
     border-bottom: 1px solid #455a64;
     box-shadow: 0 1px 0 0 #455a64;
   }
   /* invalid color */
   .input-field input[type=text].invalid,
   .input-field textarea.invalid {
     border-bottom: 1px solid #455a64;
     box-shadow: 0 1px 0 0 #455a64;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #455a64;
   }
}
